@page "/"
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Amalie drive å kødde rundt med ting i Azure

<p>
<button class="btn btn-primary" @onclick="IncrementCount">Test Azure Function</button>

<p role="status">Tilfeldig utvalgt nummer frå Azure: @number</p>
</p>
@code {
    private int currentCount = 0;
    private int number = 0;

    private async Task IncrementCount()
    {
        var number = await Http.GetFromJsonAsync<int>("/api/WeatherForecast");
        StateHasChanged();
    }
}